{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>el Gram - {{title}} </title>
    {% else %}
    <title>el Gram</title>
    {% endif %}

    {% block styles %}
        {% bootstrap_css %}
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}
</head>
<body>
    {% include 'navbar.html' %}
    {% block content %}
    {% endblock %}
    <div class="footer">
        <div class="footer col-md-10 container-fluid">
            <p class="text-center">About| Help| Jobs| Privacy| Terms| Language|</p>
            <p class="text-center">© 2020 PHOTO BOOTH</p>
        </div>
    </div>
    
</body>
</html>