{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content%}
<div class="container-fluid">
    <h2 class="text-center">My feed</h2>
    <div class="imageUploads">
        <!-- for images in followed accounts, display feed -->
        <div class="row">
            {% for image in images %}
            <div class="card col-md-4" style="margin-top: 20px; margin-bottom: 20px;">
                <div class="card-header">
                    <h3 class="float: left">{{image.profile}}</h3>
                </div>
                <div class="card-body">
                    <p style="float: right;">{{image.caption}}</p>
                </div>
                <div class="card-body">
                    <img src="{{image.image}}" width="80px" class="card-img-top" class="img-responsive" alt="img">
                </div>
            </div>
            <div class="card col-md-4" style="margin-top: 20px; margin-bottom: 20px;">
                <div class="card-header">
                    <h3 class="float: left">{{image.profile}}</h3>
                </div>
                <div class="card-body">
                    <p style="float: right;">{{image.caption}}</p>
                </div>
                <div class="card-body">
                    <img src="{{image.image}}" width="80px" class="card-img-top" class="img-responsive" alt="img">
                </div>
            </div>
            <div class="card col-md-4" style="margin-top: 20px; margin-bottom: 20px;">
                <div class="card-header">
                    <h3 class="float: left">{{image.profile}}</h3>
                </div>
                <div class="card-body">
                    <p style="float: right;">{{image.caption}}</p>
                </div>
                <div class="card-body">
                    <img src="{{image.image}}" width="80px" class="card-img-top" class="img-responsive" alt="img">
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}