{% extends 'base.html'%}
{% load bootstrap4 %}
{% load static %}

{% block content %}
<div class="container-fluid" id="welcome">
    <h1 class="text-center">Welcome to Photo Booth</h1>
</div>
<div class="container-fluid" id="welcomeImages">
    <img src="..." class="img-fluid" alt="Welcome Images">
</div>
<div class="container-fluid" id="discover">
    <div class="row container-fluid">
        <div class="col-md-10 container-fluid">
            <h2 class="text-center">Discover,create,like and comment</h2>
        </div>
        <div class="col-md-10 container-fluid">
            <h3 class="text-center">Popular</h3>
            <!-- for images in posts, most likes -->
        </div>
        <div class="col-md-10 container-fluid">
            <h3 class="text-center">People</h3>
            <!-- for accounts in accounts display most followed account -->
        </div>
    </div>
</div>
{% endblock %}